fastapi==0.136.3
uvicorn[standard]==0.35.0
starlette==0.47.3

python-multipart==0.0.32
python-dotenv==1.1.1

sqlalchemy==2.0.43
psycopg2-binary==2.9.10
alembic==1.16.4

pymongo==4.14.1

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0

openai==1.99.9

boto3==1.40.18
botocore==1.40.18

pdfplumber==0.11.7
pdfminer.six==20250506

Pillow==11.3.0
pytesseract==0.3.13

requests==2.32.5
numpy==2.3.2