POSTGRES_URL=postgresql://postgres:password@localhost/medsphere

MONGO_URL=mongodb://localhost:27017

JWT_SECRET=medsphere_secret

DEEPSEEK_API_KEY=your_key

AWS_ACCESS_KEY=your_key

AWS_SECRET_KEY=your_secret

AWS_BUCKET_NAME=medsphere-ai