APP_NAME=MedSphere AI

API_V1_PREFIX=/api/v1

DEBUG=True

SECRET_KEY=CHANGE_ME_IN_PRODUCTION

ACCESS_TOKEN_EXPIRE_MINUTES=1440

POSTGRES_HOST=own
POSTGRES_PORT=own
POSTGRES_DB=own
POSTGRES_USER=own
POSTGRES_PASSWORD=own

REDIS_HOST=localhost
REDIS_PORT=6379

CHROMA_PERSIST_DIRECTORY=./chroma_db

UPLOAD_DIRECTORY=storage



NVIDIA_API_KEY= Enter your api 

NVIDIA_BASE_URL=Enter your own

NVIDIA_MODEL=Enter your own

JWT_ALGORITHM=HS256



EMBEDDING_API_KEY=Enter your own api

EMBEDDING_BASE_URL=Enter your own

EMBEDDING_MODEL=Enter your own


AWS_ACCESS_KEY=Enter your own

AWS_SECRET_KEY=Enter your own

AWS_REGION=your own

AWS_BUCKET_NAME=Own bucket

MONGO_URI=your own api

MONGO_DATABASE=your own