APP_NAME=MedSphere AI

DEBUG=True

SECRET_KEY=CHANGE_ME_IN_PRODUCTION

ACCESS_TOKEN_EXPIRE_MINUTES=1440

POSTGRES_HOST=own
POSTGRES_PORT=own
POSTGRES_DB=own
POSTGRES_USER=own
POSTGRES_PASSWORD=own

ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

UPLOAD_DIRECTORY=storage

NVIDIA_API_KEY= Enter your api 

NVIDIA_BASE_URL=Enter your own

NVIDIA_MODEL=Enter your own

JWT_ALGORITHM=HS256

AWS_ACCESS_KEY=Enter your own

AWS_SECRET_KEY=Enter your own

AWS_REGION=your own

AWS_BUCKET_NAME=Own bucket

MONGO_URI=your own api

MONGO_DATABASE=your own