.app-layout{
    display:flex;
    min-height:100vh;
}

.main-content{
    margin-left:260px;
    width:calc(100% - 260px);
    min-height:100vh;
    background:#f4f7fb;
}

.page-container{
    padding:20px;
    width:100%;
}

@media (max-width:768px){

    .main-content{
        margin-left:0;
        width:100%;
    }

}